BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk256" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lrclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nreset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdin" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spdif" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk256" SITE "130" ;
LOCATE COMP "sclk" SITE "101" ;
LOCATE COMP "lrclk" SITE "131" ;
LOCATE COMP "nreset" SITE "111" ;
LOCATE COMP "sdin" SITE "126" ;
LOCATE COMP "spdif" SITE "100" ;
USE PRIMARY NET "clk256_c" ;
FREQUENCY PORT "clk256" 12.288000 MHz ;
FREQUENCY PORT "sclk" 1.536000 MHz ;
USE PRIMARY NET "encoder_/clk128" ;
FREQUENCY NET "encoder_/clk128" 6.144000 MHz ;
USE PRIMARY NET "sclk_c" ;
FREQUENCY NET "clk" 10.000000 MHz ;
