/.ng_run_manager.ini
/.setting.ini
.recovery
.build_status
.synthesis_touch
*.ibs
*.pkg
*.arearep
*.dir
*.drc
*.fea
*.mrp
*.pad
*.log
*.udb
*.lsedata
*.hrr
*.tw1
*.twr
*.vm
*.psn
*.tcl
*.sdf
*.bgn
*.par
*.pwrprd
*.synproj
*.vo
automake.err
message_log.xml
*.html
/reportview.xml
.vdbs
